assets/VistaQR-website-arxiv_org_abs_2410_10908-1.jpeg
assets/VistaQR-website-arxiv_org_abs_2410_10908-1.svg
assets/VistaQR-website-arxiv_org_abs_2410_10908-1.tiff
assets/VistaQR-website-arxiv_org_abs_2410_10908-1.zip
poster_coarse.png
